@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.custom-shape-divider-bottom-1692473272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1692473272 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 272px;
}

.custom-shape-divider-bottom-1692473272 .shape-fill {
    fill: #FFFFFF;
}